
.overlayPC {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 10000;
}

.nemlogo {
		position:absolute;
		top:10px;
        left:20px;
}
.nemlogoTxt {
		position:relative;
		top:10px;
        left:60px;
}

#about {
		position:relative;
		top:20px;
		width:100%;

		text-align: center;
        background-color: #fff;
        padding:20px;

}



 .contentBox{
		top:50px;
		width:50%;
		text-align: center;
        background-color: #fff;
        margin:auto;

}
.contentBox img {
	margin-left: auto;
	margin-right: auto;
	display: block;
    padding:30px;
}

#payAmount,#payAddress {
    font-weight: bold;
}


 
 

